@import 'node_modules/bootstrap/scss/bootstrap';

html {
    overflow-x: hidden
}

@import 'colors.scss';
@import 'header.scss';

#hero {
    height: 300px;

    @media screen and (min-width:768px) {
        height: 450px;
    }

    @media screen and (min-width:1200px) {
        height: 550px;
    }

    width: 100%;
    background-image: linear-gradient(0deg, rgba(60, 63, 67, 0.2), rgba(60, 63, 67, 0.2)),
    url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: $light;
    }
}

.main-container {
    padding: 2rem 0;
}

.content {
    padding: 3rem 0;
}

.main-footer {
    min-height: 300px;
    width: 100%;
    background-color: $gray
}

.widget {
    list-style: none;
    list-style-type: none;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border-radius: .5rem;
    padding: 1.5rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.blog-post {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border-radius: .5rem;
    margin-bottom: 2rem;
}